<style>
body {
background: url('http://www.thisiscae.com/wp-content/uploads/2017/11/Oxford-University.jpg');
background-size: cover;
background-position: center;
background-attachment: fixed;
}
</style>
<br/>
<div class="container-fluid">
<h1 class="display-2">DUMBO University</h1>
<h1 class="font-italic">Learn to Love the Light</h1>
</div>

<% 7.times do %>
<br>
<% end %>
<div class="container-fluid">
  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
    <p class="text-warning" style="text-shadow: black 0.2em 0.2em 0.3em">
    <br/>
    <%= error %>
    </p>
    <% end %>
    <% end %>
    <br/>
<%= form_tag '/login', method: :post do %>
<div class="form-row">
  <div class="form-group col-md-6 text-white">
  <%= label_tag :username %><br/>
<%= text_field_tag :username %>
    <br/>
    <p class="text-white"><br/>
  <%= label_tag :password %><br/>
  <%= password_field_tag :password %><br/>
</div></div>
      <%= button_tag(type: "submit", class: "btn btn-primary") do %>
        Sign In
      <% end %>
      <% end %>
    </div>
        </div>

        <% flash.clear %>
