<div class="container">
  <h3 class="display-4">Log In</h3>
  <br/>
  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
    <p class="text-danger">
    <%= error %>
    </p>
    <% end %>
    <% end %>
    <br/>
<%= form_tag '/login', method: :post do %>
<div class="form-group">
    <%= label_tag :username %>
    <%= text_field_tag :username %><br/><br/>

    <%= label_tag :password %>
    <%= password_field_tag :password %><br/><br/>
      <%= button_tag(type: "submit", class: "btn btn-primary") do %>
        Submit
      <% end %>
      <% end %>
    </div>
        </div>

        <% flash.clear %>
