<h2> Figuring Out the Report </h2>
<br/><br/>
<h4>Professor <%= @professor.full_name %></h4>
<br/><br/>
RACE<br/><%= @race %><br/><br/>
GENDER IDENTITY<br/><%= @gender %><br/><br/>
AID<br/><%= @aid %><br/><br/>
MAJOR<br/><%= @major %><br/><br/>
AGE<br/><%= @age %><br/><br/>

GRADE<br/><%= @grade %><br/>
