<div class="container-fluid">

<h2 class="text-white"> <%= @student.first_name %>'s Major Track</h2>
<% @first_table, @third_table = @student.student_professor_courses.select do |stu_prof_cou|
    stu_prof_cou.professor_course.course.majors.include?(stu_prof_cou.student.major)
end.partition do |stu_prof_cou|
    stu_prof_cou.grade.empty?
end %>
<br/><br/>

  <h3 class="text-info">Current Courses</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-white">Title</th>
        <th scope="col" class="text-white">Professor</th>
        <th scope="col" class="text-white">Semester</th>
        <th scope="col" class="text-white">Drop</th>
      </tr>
    </thead>
    <tbody>

      <% @first_table.each do |stu_prof_cou| %>
        <td><%= link_to stu_prof_cou.professor_course.course.title, course_path(stu_prof_cou.professor_course.course), class: 'text-warning' %></td>
        <td><%= link_to stu_prof_cou.professor_course.professor.full_name, professor_path(stu_prof_cou.professor_course.professor), class: 'text-warning' %></td>
        <td class="text-white"><%= stu_prof_cou.professor_course.semester %></td>
        <td class="text-white"><%= form_tag student_path, method: :post do %>
          <%= button_tag(type: "submit", class: "btn btn-primary-outline text-warning", style: "background-color:transparent") do %>Drop Course<% end %>
        <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

<br/>

<h3 class="text-info">Past Courses</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" class="text-white">Title</th>
      <th scope="col" class="text-white">Professor</th>
      <th scope="col" class="text-white">Semester</th>
      <th scope="col" class="text-white">Grade</th>
    </tr>
  </thead>
  <tbody>
    <% @third_table.each do |stu_prof_cou| %>
    <tr>
      <td><%= link_to stu_prof_cou.professor_course.course.title, course_path(stu_prof_cou.professor_course.course), class: 'text-warning' %></td>
      <td><%= link_to stu_prof_cou.professor_course.professor.full_name, professor_path(stu_prof_cou.professor_course.professor), class: 'text-warning' %></td>
      <td class="text-white"><%= stu_prof_cou.professor_course.semester %></td>
      <td class="text-white"><%= stu_prof_cou.grade %></td>
    </tr>
    <% end %>
  </tbody>
</table>

</div>


