<br/>
<b>Course Title<br/></b>
<%= @course.title %>
<br/><br/>
<b>Course Description<br/></b>
<%= @course.description %>
<br/><br/>
<b>Instructor<br/></b>
<%= @professor.full_name %>
<br/><br/>

<%= form_tag "/professors/#{@professor.id}/grade", method: "post" do %>
  <input type="hidden" name="_method" value="patch">
  <!-- <input type="hidden" name="id" value="#{@stu_prof_cou_to_be_graded_id}"> -->

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Student</th>
      <th scope="col">Major</th>
      <th scope="col">Grade</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each_with_index do |student, idx| %>
    <% @row += 1 %>
    <tr>
      <th scope="row"><%= @row %>
      </th>
      <% @stu_prof_cou_to_be_graded_id = StudentProfessorCourse.find_by(student_id: student.id, professor_course_id: @professor_course.id).id %>
      <td><%= student.full_name %></td>
      <td><%= student.major.title %></td>
      <td><%= @stu_prof_cou_to_be_graded_id %></td>
      <td>
        <!-- <input type="hidden" name="grades[]" value="<%= @stu_prof_cou_to_be_graded_id %>"> -->

        <%= collection_select :"student_professor_courses[#{@stu_prof_cou_to_be_graded_id}]", :grade, [Grade.new(@stu_prof_cou_to_be_graded_id, "A+"), Grade.new(@stu_prof_cou_to_be_graded_id, "A"), Grade.new(@stu_prof_cou_to_be_graded_id, "B+"), Grade.new(@stu_prof_cou_to_be_graded_id, "B")], :grade, :grade %>
        <!-- <select name="grades[]">
          <option value="A+">A+</option>
          <option value="A">A</option>
          <option value="A-">A-</option>
          <option value="B+">B+</option>
        </select> -->
      </td>
    <% end %>
    </tr>
      </tbody>
</table>
    <%= button_tag(type: "submit", class: "btn btn-primary") do %>
      Submit
    <% end %>
<% end %>
