<head>
<style>
body {
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2O0OL6PgAAxdWqeqOVcqltENgV2fD4pJFw-IDjQ2vjBxrmv4_");
background-size: cover;
background-position: center;
background-attachment: fixed;
}
div {
  padding-left: 15px;
}
</style>
</head>
</div>

<br/>
<div class="container-fluid text-white">
  <div class="row">
    <div class="col-lg-6">
      <p class="lead">
        <u>Course Title<br/></u></p>
        <p class="lead text-warning"><%= @professor_course.course.title %></p>
        <br/>
        <u>Course Description<br/></u>
        <%= @professor_course.course.description %>
        <br/><br/>
        <u>Instructor<br/></u>
        <%= @professor_course.professor.full_name %>
        <br/><br/>
      </p>
      </div>
    <div class="col-lg-6">
        <p class="lead text-right">
      <u>Schedule<br/></u>
      <%= @professor_course.start_date %> - <%= @professor_course.end_date %>
      <br/><br/>
      <% @professor_course.sections.each do |section| %>
      <%= section.day %>s<br/>
      From: <%= section.start_time %><br/>
      Through: <%= section.end_time %><br/><br/>
      <% end %>
      <u>Location</u><br/>
      <%= @professor_course.location %>
      <br/><br/>
      </p>
      </div>
  </div>
</div>
<% if @students.empty? %>
  <h4 class="text-danger">No students are currently enrolled.</h4>
  <a href="<%= professor_path(@professor_course.professor) %>" class="btn btn-primary btn-sm">Back</a>
<% else %>
  <%= form_tag "/professors/#{@professor_course.professor.id}/grade", method: "patch" do %>

  <table class="table table-striped text-warning">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Student</th>
        <th scope="col">Major</th>
        <th scope="col">Grade</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each_with_index do |student, i| %>
      <tr>
        <th scope="row"><%= i + 1 %>
        </th>
        <% @stu_prof_cou_to_be_graded = StudentProfessorCourse.find_by(student_id: student.id, professor_course_id: @professor_course.id) %>
        <td class="text-white"><%= student.full_name %></td>
        <td class="text-white"><%= student.major.title %></td>
        <td class="text-white">
          <% @grades = @letters.map do |letter|
            Grade.new(@stu_prof_cou_to_be_graded.id, letter)
          end %>

          <%= collection_select :"grades_hash[#{@stu_prof_cou_to_be_graded.id}]", :grade, @grades, :grade, :grade, selected: "#{@stu_prof_cou_to_be_graded.grade}" %>

        </td>
      <% end %>
      </tr>
        </tbody>
  </table>
  <div class="text-center">
      <%= button_tag(type: "submit", class: "btn btn-primary text-center") do %>
        Submit
      <% end %>
    </div>
    <% end %>
<% end %>
