<br/>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <p class="lead">
        <u>Course Title<br/></u>
        <%= @course.title %>
        <br/><br/>
        <u>Course Description<br/></u>
        <%= @course.description %>
        <br/><br/>
        <u>Instructor<br/></u>
        <%= @professor.full_name %>
        <br/><br/>
      </p>
      </div>
    <div class="col-lg-6">
        <p class="lead">
      <u>Schedule<br/></u>
      <%= @professor_course.start_date %> - <%= @professor_course.end_date %>
      <br/><br/>
      <% @professor_course.sections.each do |section| %>
      <%= section.day %>s<br/>
      From: <%= section.start_time %><br/>
      Through: <%= section.end_time %><br/><br/>
      <% end %>
      <u>Location</u><br/>
      <%= @professor_course.location %>
      <br/><br/>
      </p>
      </div>
  </div>
</div>

<%= form_tag "/professors/#{@professor.id}/grade", method: "post" do %>
  <input type="hidden" name="_method" value="patch">
  <!-- <input type="hidden" name="id" value="#{@stu_prof_cou_to_be_graded_id}"> -->

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Student</th>
      <th scope="col">Major</th>
      <th scope="col">Grade</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each_with_index do |student, idx| %>
    <% @row += 1 %>
    <tr>
      <th scope="row"><%= @row %>
      </th>
      <% @stu_prof_cou_to_be_graded_id = StudentProfessorCourse.find_by(student_id: student.id, professor_course_id: @professor_course.id).id %>
      <td><%= student.full_name %></td>
      <td><%= student.major.title %></td>
      <td>
        <!-- <input type="hidden" name="grades[]" value="<%= @stu_prof_cou_to_be_graded_id %>"> -->
        <%= collection_select :"grades_hash[#{@stu_prof_cou_to_be_graded_id}]", :grade, [Grade.new(@stu_prof_cou_to_be_graded_id, "A+"), Grade.new(@stu_prof_cou_to_be_graded_id, "A"), Grade.new(@stu_prof_cou_to_be_graded_id, "A-"), Grade.new(@stu_prof_cou_to_be_graded_id, "B+"), Grade.new(@stu_prof_cou_to_be_graded_id, "B"), Grade.new(@stu_prof_cou_to_be_graded_id, "B-"), Grade.new(@stu_prof_cou_to_be_graded_id, "C+"),
        Grade.new(@stu_prof_cou_to_be_graded_id, "C"), Grade.new(@stu_prof_cou_to_be_graded_id, "C-"), Grade.new(@stu_prof_cou_to_be_graded_id, "D+"), Grade.new(@stu_prof_cou_to_be_graded_id, "D"), Grade.new(@stu_prof_cou_to_be_graded_id, "F")], :grade, :grade %>
        <!-- <select name="grades[]">
          <option value="A+">A+</option>
          <option value="A">A</option>
          <option value="A-">A-</option>
          <option value="B+">B+</option>
        </select> -->
      </td>
    <% end %>
    </tr>
      </tbody>
</table>
    <%= button_tag(type: "submit", class: "btn btn-primary") do %>
      Submit
    <% end %>
<% end %>
