<%= link_to "My Courses", professor_path %>
<%= link_to "All Courses", courses_path %>

<%= form_tag logout_path, method: :delete do %>
<br/>

      <%= button_tag(type: "submit", class: "btn btn-danger btn-sm") do %>
        Log Out
      <% end %>
    </div>
<% end %>
<br/><br/>

  <div class="container-fluid">
    <p class="lead">
    Welcome back, Professor <%= @professor.full_name %>.
    <br/><br/>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p class="text-success"><%=  error %></p>
  <% end %>
<% end %>
<br/><br/>

<% @professor.courses.each do |course| %>
    <li><a href="<%= "/professors/#{@professor.id}/#{course.id}" %>"><%= course.title %></a></li>
<% end %>

</div>

<% flash.clear %>
