<%= link_to "My Courses", professor_path %>
<%= link_to "All Courses", courses_path %>
<%= link_to "My Students", my_students_path %>
<%= form_tag logout_path, method: :delete do %>
    <%= submit_tag "Log Out" %>
<% end %>

<% @professor.courses.each do |course| %>
    <li><a href="<%= course_path(course) %>"><%= course.title %></a></li>
<% end %>