<!DOCTYPE html>
<html>
  <head>
    <title>Mod2Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <style>
    body {
background: url('https://gq-images.condecdn.net/image/9l7pmMJE8Er/crop/1440/landscape/f/Aerial-hp--GQ-25aug17_alamy_b.jpg');
background-size: cover;
background-position: center;
background-attachment: fixed;
}
</style>
<%= render '../views/header' %>

    <%= yield %>
  </body>
</html>
